numpy>=1.26.0
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
scikit-learn==1.5.2
nltk==3.9.1
gensim==4.3.3
streamlit==1.39.0
pinecone-client==5.0.1
scipy>=1.12.0 
setuptools==67.6.1
googletrans==4.0.0-rc1
PyYAML==6.0
